extends ./layout.jade

block content
  .container
    .card
      .media.template
        .media-left
          img.media-object(src='http://www.sessionlogs.com/media/icons/defaultIcon.png')
        .media-body
          h2.media-heading Message Topic
          h5.name Name
          p.time time
          p.message The message 
          p.id id  
          span.glyphicon.glyphicon-pencil    
          span.glyphicon.glyphicon-trash    
