body{
  background: #fafafa;
}
.container{
  padding-top: 75px;
}
.navbar{
  min-height: 100px;
}
.navbar-header{
  width: 100%;
  text-align: center;
}
.navbar-brand {
  padding: 40px;
  float: none;
}
.jumbotron {
  color: #3f3f3f;
  background: url('http://img15.deviantart.net/fbd1/i/2013/203/0/3/android_4_3_wallpaper_by_dun9000-d6eme6i.jpg');
  background-size: cover;
  margin-top: 20px;
  height: 500px;
}
.comments {
 color: #5886a6;
 font-size: 200px;
}
.navbar-brand {
 font-size: 50px;
}
.fa-comments {
 text-align: right;
}
.message {
  min-height: 100px;
}
.id {
  display: none;
}
.template {
  display: none;
}

/* New Design */

.media-object {
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 50px;
  width: 100px;
  height: 100px;
}

.message-header {
  display: inline-block;
  padding-top: 10px;
  width: 100%;
  margin-bottom: -15px;
}
.input-name {
    border: none;
    height: 40px;
    padding-left: 10px;
    width: 40%;
}
.input-topic {
    border: none;
    border-right: 1px solid #fafafa;
    height: 40px;
    width: 60%;
}

.input-message {
  border: none;
  padding-top: 10px;
}
.message-footer {
  text-align: right;
  padding-right: 15px;
}
*:focus {
  outline: none;
}
.media-input-message {
  background: white;
  color: black;
  width: 60%;
  height: 100%;
  margin: auto;
  margin-bottom: 50px;
}
.media-message {
  background: white;
  color: black;
  width: 60%;
}
.btn {
  width: 75px;
  margin: 10px;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
}

.time {
  float: right;
  padding-right: 30px;
}

.modal-dialog {
  width: 60%;
}

.display-header {
  margin-bottom: 10px;
}

.message{
  margin-top: 10px;
}
